*{
  font-family: 'Press Start 2P', cursive;
}

a{
  color: black;
}

.container{
  width: 90vw;
  height: 90vh;
  position: absolute;
}

.item{
  position: relative;
  margin: 25px;
}

.text{
  font-size: 40px;
  top: 50px;
  left: 225px;
  position: absolute;
}

.orb{
  height: 150px;
  width: 150px;
  background-repeat: no-repeat;
}

.face:hover{
  background: -webkit-linear-gradient(left top, #1c92d2, #f2fcfe);
  background: -o-linear-gradient(bottom right, #1c92d2, #f2fcfe);
  background: -moz-linear-gradient(bottom right, #1c92d2, #f2fcfe);
  background: linear-gradient(to bottom right, #1c92d2, #f2fcfe);
  border-radius: 75px;
}

.face .orb{
  background-image: url("../img/my_face.png");
}

.blog:hover{
  background: -webkit-linear-gradient(left top, #1c92d2, #f2fcfe);
  background: -o-linear-gradient(bottom right, #1c92d2, #f2fcfe);
  background: -moz-linear-gradient(bottom right, #1c92d2, #f2fcfe);
  background: linear-gradient(to bottom right, #1c92d2, #f2fcfe);
  border-radius: 75px;
}

.blog .orb{
  background-image: url("../img/blog.png");
}

.github:hover{
  background: -webkit-linear-gradient(left top, #1c92d2, #f2fcfe);
  background: -o-linear-gradient(bottom right, #1c92d2, #f2fcfe);
  background: -moz-linear-gradient(bottom right, #1c92d2, #f2fcfe);
  background: linear-gradient(to bottom right, #1c92d2, #f2fcfe);
  border-radius: 75px;
}

.github .orb{
  background-image: url("../img/github.png");
}

.ludum-dare:hover{
  background: -webkit-linear-gradient(left top, #1c92d2, #f2fcfe);
  background: -o-linear-gradient(bottom right, #1c92d2, #f2fcfe);
  background: -moz-linear-gradient(bottom right, #1c92d2, #f2fcfe);
  background: linear-gradient(to bottom right, #1c92d2, #f2fcfe);
  border-radius: 75px;
}

.ludum-dare .orb{
  background-image: url("../img/ludumdare.png");
}
